_develop/src/pug/assets/include/header.pug
include ../../utils/_variables
include ../../utils/_mixins
include ../../utils/_data

-
  var listMenu = [
    {
      label: 'コース ・ 料金',
      link: '#course_price',
      isOutside: false
    },
    {
      label: '受講の流れ',
      link: '#flow',
      isOutside: false
    },
    {
      label: '選ばれる理由',
      link: '#point',
      isOutside: false
    },
    {
      label: '講師紹介',
      link: '#instructor',
      isOutside: false
    },
    {
      label: 'ブログ',
      link: '#',
      isOutside: true
    },
    {
      label: 'お問い合わせ',
      link: 'second/',
      isOutside: false
    }
  ];

header.header#header
  .header__wrap
    h1.header__logo
      a(href="/"+subDirectory) Logo
    .header__content 
      .header__hamburger#js-hamburger
        span.burger-lines
      .header__menu#js-menu
        nav.header__nav
          +menu(listMenu)

_develop/src/static_files/include/header.html
<header class="header">
  <div class="header__wrap">
    <h1 class="header__logo"><a href="">Logo</a></h1>
    <div class="header__content"> 
      <div class="header__hamburger" id="iconNav"><span class="burger-lines"></span></div>
      <div class="header__menu">
        <nav class="header__nav">
          <ul> 
            <li><a href="#course_price">コース ・ 料金</a></li>
            <li><a href="#flow">受講の流れ</a></li>
            <li><a href="#point">選ばれる理由</a></li>
            <li><a href="#instructor">講師紹介</a></li>
            <li><a href="#" target="_blank">ブログ</a></li>
            <li><a href="#contact">お問い合わせ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
